/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* RESET */

/* HEADER */
nav {
  width: 90%;
  margin: auto;
  height: 80px;
}

.hidden {
  display: none;
}

.menu.logo {
  width: 40%;
  height: 80px;
}

.menu.navigation {
  width: 60%;
  height: 80px;
}

.menu {
  float: left;
}

.logo img {
  height: 100%;
  width: 90px;
  vertical-align: sub;
}

.menu > ul {
  line-height: 80px;
}

.menu > ul > li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5%;
  position: relative;
}

a {
  text-decoration: none;
  color: grey;
}

button {
  border-radius: 20px;
  background-color: fuchsia;
  padding: 10px;
  border: 0.1px solid fuchsia;
  }

button a {
  color: white;
}

.fa-chevron-down, .fa-chevron-up {
    vertical-align: text-bottom;
    font-size: 10px;
  }

.black {
  color: black;
}

a:hover {
  color: black;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 75%;
  line-height: 50px;
  list-style-type: none;
  white-space: nowrap;
  border: 0.5px solid lightgrey;
  border-radius: 20px;
  border-top-right-radius: 0;
  padding: 0 15%;
}

.dropdown.active {
  display: block;
}
/* HEADER */
